:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  color: #2e2f42;
}

.main-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio {
  color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu-nav {
  margin: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.menu-nav-item {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.menu-nav-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.menu-nav-item.active::after {
  background-color: #404bbf;
}

.menu-nav-item:hover,
.menu-nav-item:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address {
  margin-left: auto;
}

.contacts-list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.header-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button-main {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  display: block;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

.features-icons {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-icon {
  display: flex;
  align-items: center;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pictures-section {
  padding-bottom: 120px;
}

.images-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  list-style: none;
  color: #2e2f42;
  height: 38.45px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.pictures-list {
  display: flex;
  gap: 24px;
}

.pictures-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: calc((100% - 48px) / 3);
}

.team-members {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons {
  fill: #f4f4fd;
}

.team-members-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  list-style: none;
  margin-bottom: 72px;
}

.team-members-list {
  display: flex;
  gap: 24px;
}

.team-members-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.team-name-text {
  padding: 32px 0;
}

.team-members-pictures {
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-members-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-title {
  margin-right: 120px;
}

.social-media-uppertitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.social-icon-footer {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
  fill: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
}

.logo-studio {
  display: inline-block;
}

.footer-text {
  max-width: 264px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.form {
  display: block;
  margin-left: auto;
  gap: 24px;
}

.form-footer-container {
  display: flex;
}

.form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-footer-text {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
}

.form-footer-text:focus {
  outline: 1px solid #4d5ae5;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-text::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  position: absolute;
  top: 12px;
  left: 16px;
  display: flex;
  align-items: center;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 24px;
}

.form-button:focus,
.form-button:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-form-footer {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.list {
  list-style: none;
}

.portfolio-main-section {
  padding: 96px 0 120px;
}

.portfolio-buttom-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.images-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.link {
  text-decoration: none;
}

.item-img {
  width: calc((100% - 48px) / 3);
}

.item-img:hover .overlay,
.item-img:focus .overlay {
  transform: translateY(0%);
}

.team-members-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-link:hover .overlay-text,
.img-link:focus .overlay-text {
  transform: translateY(0%);
}

.img-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.pictures-portfolio {
  display: block;
}

.img-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  margin-bottom: 8px;
}

.img-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-icon-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
  border-color: #404bbf;
  color: #404bbf;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  width: 408px;
  max-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -70%);
  transition-delay: 350ms;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}

.modal-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:focus,
.modal-btn-icon:hover {
  fill: #ffffff;
}

.modal-title {
  display: block;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #2e2f42;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-container {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  outline-offset: -1px;
  border-radius: 4px;
  border: 1px solid;
  padding: 0;
  padding-left: 44px;
  color: #8e8f99;
}

.modal-form-input:focus {
  outline: 1px solid #4d5ae5;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  background: #d9d9d9;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: ;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  background: #d9d9d9;
}

.textarea-modal {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
}

.textarea-modal:focus {
  outline: 1px solid #4d5ae5;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  background: #d9d9d9;
}

.form-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-bottom: 24px;
}

.form-agreement-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  transition: 250ms;
}

.form-agreement-checkbox:checked {
  background-color: #404bbf;
  border-color: #404bbf;
}

.form-agreement-checkbox:focus-visible {
  outline-color: #404bbf;
}

.form-agreement-text {
  font-size: 12px;
  user-select: none;
}

.form-agreement-link {
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #e7e9fc;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
